<template>
    <NavBar></NavBar>
    <ActionsBar></ActionsBar>
    <router-view class="py-6 px-28"></router-view>
</template>

<script>
import NavBar from './components/navBar.vue';
import ActionsBar from './components/ActionsBar.vue';
export default {
    components: { NavBar, ActionsBar }
}
</script>