.n-button {
    width: 100%;
    --n-height: 50px;
    --n-border-hover: none !important;

    .n-button__content {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
        /* identical to box height, or 140% */
        text-align: center;
        color: #FFFFFF;
    }
}

.n-button--primary-type {
    background: #2E5BFF !important;
    --n-border: none !important;
    --n-border-pressed: none !important;
    --n-border-disabled: none !important;
    --n-ripple-color: #2E5BFF !important;
}