.n-card {
    padding: 32px;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.03);
    border-radius: 12px !important;
    border: 1px solid #EBEEFC;

    .n-card-header {
        padding: 0;

        .n-card-header__main {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #28293D;
        }
    }

    .n-card__content {
        padding: 0;
        padding-top: 44px;
    }
}