.n-form {
    .n-form-item {
        .n-form-item-label {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1.125px;
            text-transform: uppercase;
            color: #1D1D1F;
            .n-form-item-label__asterisk{
                display: none !important; 
            }
        }
    }
}