.n-input {
    background: rgba(224, 231, 255, 0.2);
    height: 42px;
    --n-border-focus: 1px solid #2E5BFF !important;
    --n-caret-color: #2E5BFF !important;
    border-radius: 6px !important;
    --n-box-shadow-focus: 0 0 0 2px rgba(23, 64, 176, 0.2) !important;

    .n-input-wrapper {
        padding: 4px 15px 0px 15px;
    }

    .n-input__border {
        border: 1px solid #E0E7FF;
        border-radius: 6px;
    }

    .n-input__input-el {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        /* identical to box height */
        color: #2E384D;
    }

    &:hover {
        .n-input__state-border {
            border: 1px solid #2E5BFF !important;
            border-radius: 6px !important;
        }
    }

    &:focus {
        .n-input__state-border, .n-input__border {
            border: 1px solid #2E5BFF !important;
            border-radius: 6px !important;
        }
    }
}