.n-data-table {
    border-top: none !important;

    .n-data-table-table {
        border-collapse: separate;
        border-spacing: 0 1rem;
        background: #F5F5F7 !important;
    }

    .n-data-table-wrapper {
        border: none !important;
    }

    .n-data-table-thead {
        background: #F5F5F7 !important;

        .n-data-table-tr {
            th {
                background: transparent !important;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                letter-spacing: 1.125px;
                text-transform: uppercase;
                color: #B1B1B8;
                text-align: start;
                border: none !important;
                padding-bottom: 0px !important;
            }
        }
    }

    .n-data-table-tbody {
        display: table-row-group;
        vertical-align: middle;

        .n-data-table-tr {
            background: #FFFFFF;
            border: 1px solid rgba(46, 91, 255, 0.08) !important;
            border-radius: 8px !important;

            &:hover {
                background: #FFFFFF !important;
            }

            td {
                background: none !important;
                padding: 23px 16px;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: #1D1D1F;
               &:nth-child(4), &:nth-child(5){
                &:after 
                {
                    content: "UZS";
                    color: #979797;
                    margin-left: 2px;
                }
               }
            }
        }
    }

    .n-data-table__pagination {
        .n-pagination {
            .n-pagination-item {
                background: #FFFFFF;
                /* Primary */
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                /* or 143% */
                text-align: center;
            }

            .n-pagination-item--active {
                color: #3366FF;
                border: 1px solid #3366FF;
                border-radius: 4px;
            }

            .n-pagination-prefix {
                position: absolute !important;
                left: 0 !important;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                color: #1D1D1F;
            }

            .n-select {
                .n-base-selection {
                    --n-border-active: #2E5BFF !important;
                    --n-border-hover: #2E5BFF !important;
                    --n-border-focus: #2E5BFF !important;
                    --n-box-shadow-active: #2E5BFF !important;
                    --n-box-shadow-focus: #2E5BFF !important;
                }

                .n-base-selection__border {
                    border: 1px solid #DFE3E8 !important;
                    border-radius: 4px !important;
                }

                .n-base-selection-label {
                    .n-base-selection-input {
                        font-family: 'Rubik';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 22px;

                        text-align: center;

                        color: #1D1D1F !important;
                    }
                }

                position: absolute !important;
                right: 10% !important;
            }
        }
    }
}