<template>
    <div>
        <n-data-table :columns="columns" :data="data" :pagination="pagination" />
    </div>
</template>
<script>
import { h, defineComponent, ref, computed } from "vue";
import { useMessage, NImage, NText } from "naive-ui";
import { useDefaultStore } from "../store";
const Eye = new URL('../assets/images/icons/eyeIcon.svg', import.meta.url).href
const createColumns = ({
    OpenModal
}) => {
    return [
        {
            title: '#',
            key: 'key',
            render(row) {
                return h(
                    NText,
                    {
                        style: {
                            fontWeight: `400`,
                        }
                    },
                    { default: () => row.key + 1 }
                )
            }
        },
        {
            title: 'f.i.sh.',
            key: 'full_name',
        },
        {
            title: 'Tel.Raqami',
            key: 'phone',
            render(row) {
                return h(
                    NText,
                    {
                        style: {
                            fontWeight: `400`,
                        }
                    },
                    { default: () => row.phone }
                )
            }
        },
        {
            title: 'Homiylik summasi',
            key: 'sum',
            render(row) {
                return h(
                    NText,
                    {
                    },
                    {
                        default: () => row.sum.toString()
                            .replace(/\B(?=(\d{3})+(?!\d))/g, " ")
                    }
                )
            }
        },
        {
            title: 'Sarflangan summa',
            key: 'spent',
            render(row) {
                return h(
                    NText,
                    {
                    },
                    {
                        default: () => row.spent.toString()
                            .replace(/\B(?=(\d{3})+(?!\d))/g, " ")
                    }
                )
            }
        },
        {
            title: 'Sana',
            key: 'created_at',
            render(row) {
                return h(
                    NText,
                    {
                        style: {
                            fontWeight: `400`,
                        }
                    },
                    { default: () => `${row.created_at.slice(0, 10)}` }
                )
            }
        },
        {
            title: 'Holati',
            key: 'status',
            render(row) {
                return h(
                    NText,
                    {
                        style: {
                            color: statusChecker(row.get_status_display),
                            fontFamily: 'Rubik',
                            fontWeight: `400`,
                            fontSize: `15px`,
                            lineHeight: `22px`,
                        },
                    },
                    { default: () => row.get_status_display }
                );
            }
        },
        {
            title: "Amallar",
            key: "icon",
            render(row) {
                return h(
                    NImage,
                    {
                        style: {
                            marginLeft: '10px',
                            cursor: 'pointer'
                        },
                        src: Eye,
                        previewDisabled: true,
                        onClick: () => OpenModal(row)
                    },
                );
            }
        }
    ];
};
const statusChecker = (status) => {
    if (status === 'Yangi') return '#5BABF2'
    else if (status === 'Moderatsiyada') return '#FFA445'
    else if (status === 'Tasdiqlangan') return '#00CF83'
    else return '#979797'
}

export default defineComponent({
    setup() {
        const store = useDefaultStore()
        store.GetSponsors()
        const message = useMessage();
        const Sponsors = computed(() => store.sponsors)
        const SponsorsCount = computed(() => store.sponsors.count)
        const paginationRef = ref({
            showSizePicker: true,
            page: 1,
            pageCount: 1,
            pageSize: 10,
            prefix({ itemCount }) {
                return `${SponsorsCount.value} tadan  ${itemCount} ko‘rsatilmoqda.`
            }
        })
        console.log(Sponsors);
        return {
            data: computed(() => store.getSponsorsList),
            columns: createColumns({
                OpenModal(row) {
                    message.success("Modal opened with name " + row.name);
                }
            }),
            pagination: paginationRef
        };
    }
});
</script>