<template>
  <div class="m-auto w-96 h-screen flex justify-center items-center">
    <div class="inner w-full">
      <img :src="Logo" alt="logo" class="m-auto">
      <n-card title="Kirish" :bordered="false" class="mt-14">
        <n-form ref="formRef" :model="auth" @keyup.enter="Submit" :rules="rules">
          <n-form-item path="username" label="Login">
            <n-input v-model:value="auth.username" placeholder="" @keydown.enter.prevent />
          </n-form-item>
          <n-form-item path="password" label="Parol">
            <n-input v-model:value="auth.password" placeholder="" show-password-on="click" type="password"
              @input="handlePasswordInput" @keydown.enter.prevent />
          </n-form-item>
          <VueRecaptcha class="ml-2 mt-2" :sitekey="siteKey" :load-recaptcha-script="true" @verify="handleSuccess"
            @error="handleError">
          </VueRecaptcha>
          <n-button :disabled="auth.username === '' && auth.password === ''" class="mt-5 w-!full h-12" type="primary"
            @click="Submit">
            Kirish
          </n-button>
        </n-form>
      </n-card>
    </div>
  </div>
</template>
<script>
import { computed, ref } from "vue";
import {
  useMessage
} from "naive-ui";

import { VueRecaptcha } from 'vue-recaptcha';
import { useDefaultStore } from "../store";
export default {
  components: {
    VueRecaptcha
  },
  setup() {
    const store = useDefaultStore()
    const Logo = new URL('../assets/images/logos/metsenatClub.svg', import.meta.url).href
    const formRef = ref(null);
    const message = useMessage();
    let requestCount = ref(0)
    const auth = ref({
      username: '',
      password: '',
    });
    let catpchaVerified = ref(false)
    const rules = {
      username: [
        {
          required: true,
          validator(rule, value) {
            if (!value) {
              return new Error("Iltimos maydonni to'ldiring !");
            } else if (value.length < 5) {
              return new Error("Maydon 5 dan kam bo'lmasligi kerak !");
            }
            return true;
          },
          trigger: ["input", "blur"]
        }
      ],
      password: [
        {
          required: true,
          validator(rule, value) {
            if (!value) {
              return new Error("Iltimos maydonni to'ldiring !");
            } else if (value.length < 5) {
              return new Error("Maydon 5 dan kam bo'lmasligi kerak !");
            }
            return true;
          },
          trigger: ["input", "blur"]
        }
      ],
    };
    const siteKey = computed(() => {
      return '6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI';
    });

    const handleError = (err) => {
      console.log(err);
    };

    const handleSuccess = (res) => {
      catpchaVerified.value = true
    };
    function Submit(e) {
      e.preventDefault();
      formRef.value?.validate(
        (errors) => {
          if (!errors && catpchaVerified.value && requestCount.value < 15) {
            requestCount.value = requestCount.value + 1
            store.login(auth.value)
              .then(res => {
                console.log(res);
              })
              .catch(err => {
                console.log(err);
                message.error("Login yoki parol notogri !!!");
              })
          }
          else if (catpchaVerified.value && !errors) {
            message.error("Juda ham ko'p so'rov yubordingiz iltimos 2 daqiqa kuting !");
            setTimeout(() => {
              requestCount.value = 0
            }, 2000);
          }
          else {
            message.error("Xatolik mavjud, iltimos insonligingizni tasqilang !");
          }
        }
      );
    }
    return {
      Logo,
      formRef,
      auth,
      rules,
      handleSuccess,
      handleError,
      siteKey,
      Submit
    };
  }
};
</script>
<style>
</style>