<template>
    <div class="flex items-center justify-between py-6 px-28 bg-white">
        <div class="flex items-center links">
            <router-link to="/">Dashboard</router-link>
            <router-link to="/home">Homiylar</router-link>
            <router-link to="/">Talabalar</router-link>
        </div>
        <div class="flex items-center left">
            <input type="text" placeholder="Izlash" v-model="search" @keyup.enter="Search" />
            <svg width="20" class="search-icon" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.33333 14.1667C11.555 14.1667 14.1667 11.555 14.1667 8.33333C14.1667 5.11167 11.555 2.5 8.33333 2.5C5.11167 2.5 2.5 5.11167 2.5 8.33333C2.5 11.555 5.11167 14.1667 8.33333 14.1667Z"
                    stroke="#B1B1B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M17.5 17.5L12.5 12.5" stroke="#B1B1B8" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>

            <button class="flex items-center">
                <svg class="mr-3" width="16" height="16" viewBox="0 0 16 16" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.6668 1.33334H3.3335C2.80306 1.33334 2.29436 1.54405 1.91928 1.91912C1.54421 2.2942 1.3335 2.8029 1.3335 3.33334V4.11334C1.3334 4.38863 1.39014 4.66098 1.50016 4.91334V4.95334C1.59435 5.16732 1.72776 5.36178 1.8935 5.52667L6.00016 9.60667V14C5.99994 14.1133 6.02859 14.2248 6.08341 14.3239C6.13823 14.4231 6.21742 14.5066 6.3135 14.5667C6.41959 14.6324 6.54201 14.6671 6.66683 14.6667C6.77119 14.666 6.87395 14.6409 6.96683 14.5933L9.6335 13.26C9.74344 13.2046 9.83589 13.1198 9.90061 13.0151C9.96533 12.9104 9.99979 12.7898 10.0002 12.6667V9.60667L14.0802 5.52667C14.2459 5.36178 14.3793 5.16732 14.4735 4.95334V4.91334C14.5927 4.66296 14.6585 4.39052 14.6668 4.11334V3.33334C14.6668 2.8029 14.4561 2.2942 14.081 1.91912C13.706 1.54405 13.1973 1.33334 12.6668 1.33334ZM8.86016 8.86C8.79838 8.9223 8.74949 8.99617 8.71632 9.0774C8.68314 9.15862 8.66632 9.2456 8.66683 9.33334V12.2533L7.3335 12.92V9.33334C7.334 9.2456 7.31719 9.15862 7.28401 9.0774C7.25083 8.99617 7.20195 8.9223 7.14016 8.86L3.60683 5.33334H12.3935L8.86016 8.86ZM13.3335 4H2.66683V3.33334C2.66683 3.15652 2.73707 2.98696 2.86209 2.86193C2.98712 2.73691 3.15669 2.66667 3.3335 2.66667H12.6668C12.8436 2.66667 13.0132 2.73691 13.1382 2.86193C13.2633 2.98696 13.3335 3.15652 13.3335 3.33334V4Z"
                        fill="#3365FC" />
                </svg>
                Filter
            </button>
        </div>
    </div>
</template>

<script>
import { useDefaultStore } from '../../store'
const store = useDefaultStore()
export default {
    name: 'ActionsBar',
    data(){
        return{
            search: '',
            store
        }
    },
    methods:{
    Search(){
     if(this.search !== '')  store.GetSponsors({search: this.search})
    }
    }
}
</script>

<style lang="scss" scoped>
.links {
    background: #FFFFFF;
    border: 2px solid #E0E7FF;
    border-radius: 6px;
    height: 40px;

    a {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 1.125px;
        text-transform: uppercase;
        color: rgba(51, 102, 255, 0.6);
        padding: 14px 54px;

        &.active {
            color: #FFFFFF;
            background: #3366FF;
        }
    }
}

.left {
    input {
        background: #E8E8E8;
        border-radius: 5px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #B1B1B8;
        width: 284px;
        height: 40px;
        border: none;
        padding: 11px 38px;
        position: relative;

        &::placeholder {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #B1B1B8;
        }

    }
    .search-icon{
        position: absolute;
        margin-left: 10px;
    }
    button {
        background: #EDF1FD;
        border-radius: 5px;
        padding: 8px 32px;
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: -0.35px;

        color: #3365FC;
        margin-left: 20px;
    }
}
</style>