<template>
    <nav class="py-5 px-28 flex items-center justify-between">
        <img :src="Logo" alt="logo">
        <div class="user flex items-center">
            <button>
                <svg width="133" height="40" viewBox="0 0 133 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="133" height="40" rx="6" fill="#F1F1F3" />
                    <rect x="97" y="4" width="32" height="32" rx="4" fill="#00AE69" />
                    <path
                        d="M117.621 29.38C116.243 30.118 114.669 30.54 112.998 30.54C111.328 30.54 109.755 30.12 108.377 29.38C105.401 30.162 103.069 32.015 102 36H124C122.931 32.014 120.599 30.161 117.621 29.38ZM113 28C117.418 28 121 24.418 121 20C121 15.582 117.418 12 113 12C108.582 12 105 15.582 105 20C105 24.418 108.582 28 113 28ZM118.349 22.667C117.364 24.635 115.351 26 113 26C110.649 26 108.636 24.635 107.651 22.667H118.349Z"
                        fill="#F1F1F3" />
                    <path
                        d="M20.9418 21.4546C21.0116 23.1621 22.4271 24.2349 24.6107 24.2349C26.9086 24.2349 28.3241 23.105 28.3241 21.2578C28.3241 19.8359 27.5307 19.0425 25.6898 18.6553L24.5854 18.4204C23.5126 18.1919 23.0746 17.8682 23.0746 17.3032C23.0746 16.605 23.7094 16.1606 24.6679 16.1606C25.5946 16.1606 26.2675 16.6431 26.3563 17.3667H28.1591C28.102 15.7354 26.6737 14.6055 24.6552 14.6055C22.5414 14.6055 21.1513 15.7417 21.1513 17.4683C21.1513 18.8647 21.9701 19.7344 23.6395 20.0835L24.8329 20.3374C25.9564 20.5786 26.4135 20.915 26.4135 21.499C26.4135 22.1909 25.7089 22.6733 24.7123 22.6733C23.6332 22.6733 22.8842 22.1973 22.7953 21.4546H20.9418ZM29.6689 24H31.5161V19.9819C31.5161 19.0742 32.0493 18.4585 32.9761 18.4585C33.814 18.4585 34.2646 18.96 34.2646 19.9312V24H36.1118V19.4932C36.1118 17.811 35.2168 16.8652 33.7124 16.8652C32.6841 16.8652 31.9224 17.3477 31.5986 18.1475H31.4844V14.3262H29.6689V24ZM40.6622 24.1523C42.8141 24.1523 44.109 22.7876 44.109 20.4961C44.109 18.2236 42.795 16.8462 40.6622 16.8462C38.5294 16.8462 37.2154 18.23 37.2154 20.4961C37.2154 22.7876 38.5103 24.1523 40.6622 24.1523ZM40.6622 22.6416C39.672 22.6416 39.1134 21.8608 39.1134 20.4961C39.1134 19.1504 39.6783 18.3569 40.6622 18.3569C41.6397 18.3569 42.211 19.1504 42.211 20.4961C42.211 21.8545 41.6461 22.6416 40.6622 22.6416ZM45.3332 24H47.1804V19.9819C47.1804 19.0742 47.7136 18.4585 48.6403 18.4585C49.4782 18.4585 49.9289 18.96 49.9289 19.9312V24H51.7761V19.4932C51.7761 17.811 50.8811 16.8652 49.3767 16.8652C48.3483 16.8652 47.5866 17.3477 47.2629 18.1475H47.1486V14.3262H45.3332V24ZM53.2225 24H55.0696V20.1216C55.0696 19.1377 55.7615 18.541 56.7708 18.541C57.0691 18.541 57.5008 18.5981 57.6468 18.6553V16.9731C57.4881 16.916 57.177 16.8843 56.9231 16.8843C56.0345 16.8843 55.3108 17.4175 55.1268 18.1157H55.0125V16.9985H53.2225V24ZM64.8695 16.9985H63.0224V21.0356C63.0224 21.9688 62.5272 22.5464 61.6068 22.5464C60.7562 22.5464 60.3183 22.0513 60.3183 21.0864V16.9985H58.4711V21.5625C58.4711 23.1875 59.4105 24.1523 60.9213 24.1523C61.9813 24.1523 62.6352 23.689 62.9652 22.8765H63.0795V24H64.8695V16.9985ZM69.2422 21.7148L70.5435 24H72.6001L70.3848 20.458L72.5811 16.9985H70.5625L69.3247 19.2964H69.2104L67.9727 16.9985H65.8525L68.0615 20.5405L65.8652 24H67.8267L69.1279 21.7148H69.2422Z"
                        fill="#28293D" />
                </svg>
            </button>
            <button class="ml-10" @click="Logout()">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10 16C10 15.7348 10.1054 15.4804 10.2929 15.2929C10.4804 15.1054 10.7348 15 11 15H20V8.5C20 6.5 17.8881 5 16 5H6.5C5.57205 5.00099 4.68238 5.37006 4.02622 6.02622C3.37006 6.68238 3.00099 7.57205 3 8.5V23.5C3.00099 24.428 3.37006 25.3176 4.02622 25.9738C4.68238 26.6299 5.57205 26.999 6.5 27H16.5C17.428 26.999 18.3176 26.6299 18.9738 25.9738C19.6299 25.3176 19.999 24.428 20 23.5V17H11C10.7348 17 10.4804 16.8946 10.2929 16.7071C10.1054 16.5196 10 16.2652 10 16Z"
                        fill="#B1B1B8" />
                    <path
                        d="M28.7069 15.2931L23.7069 10.2931C23.5178 10.1135 23.2661 10.0148 23.0053 10.0182C22.7445 10.0215 22.4954 10.1266 22.311 10.311C22.1266 10.4954 22.0215 10.7445 22.0182 11.0053C22.0148 11.2661 22.1135 11.5178 22.2931 11.7069L25.5856 15H20V17H25.5856L22.2931 20.2931C22.1964 20.3851 22.119 20.4954 22.0655 20.6177C22.0121 20.7401 21.9837 20.8718 21.982 21.0053C21.9803 21.1388 22.0053 21.2712 22.0556 21.3949C22.1059 21.5185 22.1804 21.6308 22.2748 21.7252C22.3692 21.8196 22.4815 21.8941 22.6051 21.9444C22.7288 21.9947 22.8612 22.0197 22.9947 22.018C23.1282 22.0163 23.2599 21.9879 23.3822 21.9345C23.5046 21.881 23.6149 21.8036 23.7069 21.7069L28.7069 16.7069C28.8943 16.5194 28.9995 16.2651 28.9995 16C28.9995 15.7349 28.8943 15.4806 28.7069 15.2931Z"
                        fill="#B1B1B8" />
                </svg>
            </button>
        </div>
    </nav>
</template>

<script>
import { useDefaultStore } from '../../store'
const Logo = new URL('../../assets/images/logos/metsenatPro.svg', import.meta.url).href
export default {
    name: 'Navbar',
     setup(){
        const store = useDefaultStore()
        const Logout = () => {
            store.logOut()
        }
        return{
            Logo,
            Logout
        }
     }
}
</script>

<style>
nav {
    background: #FFFFFF;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.03);
}
</style>