// ====== Tailwind =========
@import './index.css';
// ====== Components import =========
@import './components/card.scss';
@import './components/form.scss';
@import './components/input.scss';
@import './components/button.scss';
@import './components//table.scss';
// ====== Fonts import =========
@import '../fonts//fonts.css';
*{
    padding: 0;
    margin: 0;
}
body{
    background: #F5F5F7;
}