
/* ---------------- SF Pro Display ------------- */
@font-face {
    font-family: "SF Pro Display";
    font-weight: 400;
    src:   url('./sf-pro-display/SF-Pro-Display-Regular.otf') format('opentype')
}
@font-face {
    font-family: "SF Pro Display";
    font-weight: 500;
    src:   url('./sf-pro-display/SF-Pro-Display-Medium.otf') format('opentype')
}
@font-face {
    font-family: "SF Pro Display";
    font-weight: 600;
    src:   url('./sf-pro-display/SF-Pro-Display-Semibold.otf') format('opentype')
}
@font-face {
    font-family: "SF Pro Display";
    font-weight: 700;
    src:   url('./sf-pro-display/SF-Pro-Display-Bold.otf') format('opentype')
}
@font-face {
    font-family: "SF Pro Display";
    font-weight: 900;
    src:   url('./sf-pro-display/SF-Pro-Display-Heavy.otf') format('opentype')
}
/* ---------------- SF Pro Text ------------- */
@font-face {
    font-family: "SF Pro Text";
    font-weight: 500;
    src:   url('./sf-pro-display/ea65303bac9d71f092dc3386ddbff029.ttf') format('truetype')
}


/* ----------------------- Rubik Font ------------------ */
@font-face {
    font-family: "Rubik";
    font-weight: 400;
    src:   url('./rubik/Rubik-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    src:   url('./rubik/Rubik-Medium.ttf') format('truetype')
}
@font-face {
    font-family: 'Rubik';
    font-weight: 700;
    src:   url('./rubik/Rubik-Bold.ttf') format('truetype')
}